html {
    height: 100%;
    width: 100%;
    background: #575858;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("./fondo.jpg");
  }
  
  .opcion {
    cursor: pointer;
    width: 46%;
    height: 120px;
    display: flex;
    padding: 15px 25px;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f88400d4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: background 0.3s ease;
    margin: 10px 5px;
  }
  
  .opcion:hover {
    background: #e80000d4;
  }
  
 #quizP {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
  }
  
  #pregunta {
    flex-shrink: 12;
    flex-basis: 1%;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f88400d4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 10px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center;
  }

  section {
    font-family: 'Ubuntu', sans-serif;
  }

  #frase {
    flex-shrink: 12;
    flex-basis: 1%;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f88400d4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 10px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #button {
    cursor: pointer;
    width: 20%;
    height: 90px;
    display: flex;
    padding: 15px 25px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f88400d4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: background 0.3s ease;
    margin: 10px 5px;
    margin-top: 30%;
  }

  #button:hover {
    background: #e80000d4;
  }